:root {
    --vp-c-brand-1: #fba60a;
    --vp-c-brand-2: #cd8704;
    --vp-c-brand-3: #e8a019;
    --vp-c-brand-soft: rgba(225, 171, 8, 0.14);
    --vp-nav-bg-color: rgba(255, 255, 255, 0.8);
    --vp-home-hero-image-background-image: radial-gradient(rgba(237, 122, 34, 0.5) 50%, rgba(250, 188, 74, 0.5));
    --vp-home-hero-image-filter: blur(44px);
}

.dark {
    --vp-nav-bg-color: rgba(27, 27, 31, 0.8);
}

img {
    max-height: 400px;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gallery img {
    max-height: unset;
    height: none;
}

.gallery > .item {
    padding: 8px;
}

.gallery > .item.grid-4 {
    width: 100%;
}

.discontinue-notice {
    font-size: 1em;
    padding: 0.5em 24px;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--vp-button-brand-bg);
    color: var(--vp-button-brand-text);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    z-index: calc(var(--vp-z-index-sidebar) + 1);
}

.discontinue-notice .inner {
    min-width: 0;
}

.discontinue-notice a {
    text-decoration: underline;
    white-space: nowrap;
}

.VPSidebar {
    padding-top: calc(var(--vp-nav-height) + 2.5em) !important;
}

.VPNavScreen {
    top: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 2.5em) !important;
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }

    .gallery > .item.grid-4 {
        width: 50%;
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(68px);
    }

    .gallery > .item.grid-4 {
        width: 25%;
    }

    .VPNavBar:not(.home.top) {
        backdrop-filter: blur(12px);
    }

    .discontinue-notice {
        margin-top: var(--vp-nav-height);
    }
}